{
  description = "An example NixOS configuration";

  inputs = {
    nixpkgs = { url = "github:nixos/nixpkgs/nixos-24.11"; };
    lix = {
      url = "https://git.lix.systems/lix-project/nixos-module/archive/2.92.0-3.tar.gz";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    home-manager = {
      url = "github:nix-community/home-manager/release-24.11";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    firefox = {
      url = "github:nix-community/flake-firefox-nightly";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    stylix = {
      url = "github:danth/stylix/release-24.11";
    };
    cookbook = {
      url = "github:strangeglyph/cookbook";
    };
    cookbook-recipes = {
      url = "github:strangeglyph/cookbook-recipes";
      flake = false;
    };
  };

  outputs = inputs:
  let default-config = inputs@{ lix, home-manager, stylix, ... }:
    inputs.nixpkgs.lib.nixosSystem {
      system = "x86_64-linux";
      modules = [
        lix.nixosModules.default
        home-manager.nixosModules.home-manager
        stylix.nixosModules.stylix
        ./configuration.nix
      ];
      specialArgs = { inherit inputs; };
    };
  in
  {
    nixosConfigurations = {
      aeolus = default-config inputs;
      philae = default-config inputs;
    };
  };
}
